/Libraries/Periphery_lib.X/build/
/Quadro.X/build/
/Libraries/Periphery_lib.X/dist/
/Quadro.X/dist/
*.txt
*.TXT
/SpeedMeter.X/nbproject/private/
/SpeedMeter.X/build/default/
/SpeedMeter.X/dist/default/
/MeasureStand.X/build/default/
/MeasureStand.X/dist/default/
/MeasureStand.X/nbproject/private/