**/build*
*pro.user*
**/dist/
**/nbproject/private/
**/disassembly/
**/Makefile-genesis.properties
*.txt
*.TXT
/Libraries/Periphery_lib.X/build/default/
/Libraries/Periphery_lib.X/dist/default/
/Libraries/Math_lib.X/nbproject/private/
/Libraries/Math_lib.X/build/default/
/Libraries/Math_lib.X/dist/default/
/Libraries/Periphery_lib.X/nbproject/private/
