putty*

**/build*
*pro.user*
*.pyc
**/dist/
**/nbproject/private/
**/disassembly/
**/Makefile-genesis.properties

*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
**/html/
**/nbproject/private/
**/nbproject/Package-*.bash
**/build/
**/nbbuild/
**/dist/
**/nbdist/
**/nbactions.xml
**/nb-configuration.xml
**/funclist
**/nbproject/Makefile-*
**/disassembly/
*.map
/3DStand/Encoders.X/nbproject/private/
/3DStand/Encoders.X/dist/default/
/Libraries/Math_lib.X/nbproject/private/
/Libraries/MotorControl.X/nbproject/private/
/Libraries/MotorControl.X/dist/default/
/Libraries/Math_lib.X/dist/default/